@using Projekt_Sklep.Models.Pojazdy
@using Projekt_Sklep.Models.Klient
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inherits LayoutComponentBase
@inject NavigationManager Navigation
<PageTitle>BlazorApp3</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/.">Wyloguj</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <span>
            <Avatar/>

        </span>
        @code {
                protected override async Task OnInitializedAsync()
                {
                    if (KlientSingleton.Instance.Id == Guid.Empty)
                    {
                        Navigation.NavigateTo("/");
                    }
                }
            }
    </main>
    
</div>