<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="./static/Auth/logoWhite.png"/></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Profil">
                <span class="oi oi-plus" aria-hidden="true"></span> Profil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Formularz">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Formularz  
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Roszczenia">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Roszczenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Wykup_Polise">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wykup Polise
            </NavLink>
        </div>
    </nav>
    <div class="nav-item px-3 fixed-bottom">
        <NavLink class="nav-link" href="Wyloguj">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Wyloguj
        </NavLink>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}