@page 
@model Projekt_Sklep.Pages.IndexModel

<html>
<head>
    <title>Moja Strona</title>
</head>
<body>
    <h1>Witaj na mojej stronie!</h1>
    <p>Wyniki z kontrolera:</p>
    <ul>
        @foreach (var Adres in Model.KlientEntities)
        {
            <li>@Adres.Id</li>
            <!-- Dodaj kolejne pola, które chcesz wyświetlić -->
        }
    </ul>
</body>
</html>