@page
@model Projekt_Sklep.Models.Pages.index

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/vars.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="strona-g-wna">
      <svg class="layer-1" width="0" height="0"></svg>
      <div class="zg-aszanie-szk-d">Zgłaszanie szkód</div>
      <div class="kontakt">Kontakt</div>
      <div class="ubezpiecz-swoje-jutro-ju-dzi">
        Ubezpiecz Swoje jutro już dziś.
      </div>
      <img class="image-11" src="~/images/image-110.png" />
      <div class="from-idea-to-render">From idea <br />to render.</div>
      <div class="platform">Platform</div>
      <div class="solutions">Solutions</div>
      <div class="about-us">About us</div>
      <div class="careers">Careers</div>
      <div class="pricing">Pricing</div>
      <div class="resources">Resources</div>
      <div class="login">Login</div>
      <div class="div-overflow-hidden">
        <div class="span-inline-block">
          <div class="john-doe">John Doe</div>
          <div class="ceo-at-example">CEO at Example</div>
          <div
            class="do-aliquip-sint-ea-nostrud-excepteur-excepteur-velit-et-ea-est-nulla-eu-consequat-laborum-mollit-amet-nulla-ea-nostrud-proident-voluptate-proident-tempor-aute-deserunt-fugiat-nisi"
          >
            Do aliquip sint ea. Nostrud excepteur excepteur velit et ea est
            nulla eu consequat laborum mollit amet. Nulla ea nostrud proident
            voluptate proident tempor aute deserunt fugiat nisi.
          </div>
          <div class="svg-h-auto">
            <svg class="frame" width="16" height="20"></svg>
          </div>
        </div>
      </div>
      <div class="group-997">
        <div class="a-relative">
          <div class="logowanie">Logowanie</div>
        </div>
      </div>
      <div class="group-998">
        <div class="group-992">
          <div class="mask-group">
            <div class="rectangle-136"></div>
            <img
              class="xavier-mouton-photographie-ry-s-d-0-p-1-zl-0-unsplash-1"
              src="~/images/xavier-mouton-photographie-ry-s-d-0-p-1-zl-0-unsplash-10.png"
            />
          </div>
          <div class="div-overflow-hidden2">
            <div class="line-63"></div>
            <div class="mati-ziara-szef-rady-nadzorczej-pamp">
              <span
                ><span class="mati-ziara-szef-rady-nadzorczej-pamp-span"
                  >@Model.imie<br /></span
                ><span class="mati-ziara-szef-rady-nadzorczej-pamp-span2"
                  >Szef Rady nadzorczej PAMP</span
                ></span
              >
            </div>
            <div class="steve-jobs-signature-1"></div>
            <svg
              class="line-62"
              width="304"
              height="1"
              viewBox="0 0 304 1"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0.5 0.5H303.5" stroke="#E9E9E9" />
            </svg>

            <div class="button">
              <div class="dodaj">Poznaj nas bliżej</div>
            </div>
            <div class="mati-ziara">Mati Ziara</div>
          </div>
          <div class="list-od-prezesa-zarz-du">List od prezesa zarządu</div>
        </div>
        <img
          class="tk-2023-05-01-at-18-17-1"
          src="~/images/tk-2023-05-01-at-18-17-10.png"
        />
        <div
          class="szanowni-pa-stwo-z-przyjemno-ci-kieruj-do-was-kilka-s-w-jako-prezes-zarz-du-chcemy-podzi-kowa-wam-za-zaufanie-jakim-nas-obdarzacie-ka-dego-dnia-to-wasze-wsparcie-i-lojalno-s-si-nap-dow-naszej-dzia-alno-ci-kt-ra-trwa-ju-od-wielu-lat-rozumiemy-e-ubezpieczenia-to-wa-na-kwestia-w-waszym-yciu-dlatego-staramy-si-zapewni-wam-kompleksow-ochron-na-wypadek-r-nych-nieprzewidywalnych-sytuacji-nasza-misja-to-chroni-was-i-wasze-bliskie-osoby-oraz-pom-c-wam-w-trudnych-chwilach-wsp-lnie-pracujemy-nad-zabezpieczeniem-waszych-przysz-ych-potrzeb-i-d-ymy-do-tego-aby-cie-mieli-pewno-e-mo-ecie-na-nas-liczy-dzi-kujemy-wam-za-wasze-zaufanie-i-wierzymy-e-nasza-wsp-praca-przynosi-wzajemne-korzy-ci-i-e-razem-mo-emy-spokojnie-patrze-w-przysz-o-wiedz-c-e-jeste-cie-dobrze-zabezpieczeni-z-powa-aniem"
        >
          <span
            ><span
              class="szanowni-pa-stwo-z-przyjemno-ci-kieruj-do-was-kilka-s-w-jako-prezes-zarz-du-chcemy-podzi-kowa-wam-za-zaufanie-jakim-nas-obdarzacie-ka-dego-dnia-to-wasze-wsparcie-i-lojalno-s-si-nap-dow-naszej-dzia-alno-ci-kt-ra-trwa-ju-od-wielu-lat-rozumiemy-e-ubezpieczenia-to-wa-na-kwestia-w-waszym-yciu-dlatego-staramy-si-zapewni-wam-kompleksow-ochron-na-wypadek-r-nych-nieprzewidywalnych-sytuacji-nasza-misja-to-chroni-was-i-wasze-bliskie-osoby-oraz-pom-c-wam-w-trudnych-chwilach-wsp-lnie-pracujemy-nad-zabezpieczeniem-waszych-przysz-ych-potrzeb-i-d-ymy-do-tego-aby-cie-mieli-pewno-e-mo-ecie-na-nas-liczy-dzi-kujemy-wam-za-wasze-zaufanie-i-wierzymy-e-nasza-wsp-praca-przynosi-wzajemne-korzy-ci-i-e-razem-mo-emy-spokojnie-patrze-w-przysz-o-wiedz-c-e-jeste-cie-dobrze-zabezpieczeni-z-powa-aniem-span"
              >Szanowni Państwo,<br /><br /></span
            ><span
              class="szanowni-pa-stwo-z-przyjemno-ci-kieruj-do-was-kilka-s-w-jako-prezes-zarz-du-chcemy-podzi-kowa-wam-za-zaufanie-jakim-nas-obdarzacie-ka-dego-dnia-to-wasze-wsparcie-i-lojalno-s-si-nap-dow-naszej-dzia-alno-ci-kt-ra-trwa-ju-od-wielu-lat-rozumiemy-e-ubezpieczenia-to-wa-na-kwestia-w-waszym-yciu-dlatego-staramy-si-zapewni-wam-kompleksow-ochron-na-wypadek-r-nych-nieprzewidywalnych-sytuacji-nasza-misja-to-chroni-was-i-wasze-bliskie-osoby-oraz-pom-c-wam-w-trudnych-chwilach-wsp-lnie-pracujemy-nad-zabezpieczeniem-waszych-przysz-ych-potrzeb-i-d-ymy-do-tego-aby-cie-mieli-pewno-e-mo-ecie-na-nas-liczy-dzi-kujemy-wam-za-wasze-zaufanie-i-wierzymy-e-nasza-wsp-praca-przynosi-wzajemne-korzy-ci-i-e-razem-mo-emy-spokojnie-patrze-w-przysz-o-wiedz-c-e-jeste-cie-dobrze-zabezpieczeni-z-powa-aniem-span2"
              >Z przyjemnością kieruję do Was kilka słów jako prezes zarządu.
              Chcemy podziękować Wam za zaufanie, jakim nas obdarzacie każdego
              dnia. To Wasze wsparcie i lojalność są siłą napędową naszej
              działalności, która trwa już od wielu lat.<br /><br />Rozumiemy,
              że ubezpieczenia to ważna kwestia w Waszym życiu. Dlatego staramy
              się zapewnić Wam kompleksową ochronę na wypadek różnych
              nieprzewidywalnych sytuacji. Nasza misja to chronić Was i Wasze
              bliskie osoby oraz pomóc Wam w trudnych chwilach. Wspólnie
              pracujemy nad zabezpieczeniem Waszych przyszłych potrzeb i dążymy
              do tego, abyście mieli pewność, że możecie na nas liczyć.<br /><br />Dziękujemy
              Wam za Wasze zaufanie i wierzymy, że nasza współpraca przynosi
              wzajemne korzyści i że razem możemy spokojnie patrzeć w
              przyszłość, wiedząc, że jesteście dobrze zabezpieczeni.<br /><br />Z
              poważaniem,</span
            ></span
          >
        </div>
      </div>
      <div class="group-1014">
        <div class="group-9972">
          <div class="a-relative2">
            <div class="poznaj-nasz-ofert">Poznaj naszą ofertę</div>
          </div>
        </div>
        <div class="div-overflow-hidden3">
          <div class="znajd-najbli-szy-oddzia">Znajdź najbliższy oddział</div>
        </div>
      </div>
      <div class="div-overflow-hidden4">
        <div
          class="kalkulator-oc-ac-skorzystaj-z-naszego-kalkulatora-ubezpieczenia-samochodowego-i-znajd-ofert-idealn-dla-nowicjusza-jak-i-do-wiadczonego-kierowcy"
        >
          <span
            ><span
              class="kalkulator-oc-ac-skorzystaj-z-naszego-kalkulatora-ubezpieczenia-samochodowego-i-znajd-ofert-idealn-dla-nowicjusza-jak-i-do-wiadczonego-kierowcy-span"
              >Kalkulator OC/AC<br /></span
            ><span
              class="kalkulator-oc-ac-skorzystaj-z-naszego-kalkulatora-ubezpieczenia-samochodowego-i-znajd-ofert-idealn-dla-nowicjusza-jak-i-do-wiadczonego-kierowcy-span2"
              >Skorzystaj z naszego kalkulatora ubezpieczenia samochodowego i
              znajdź ofertę idealną dla nowicjusza jak i doświadczonego
              kierowcy.</span
            ></span
          >
        </div>
        <div class="button2">
          <div class="dodaj">Skorzystaj teraz</div>
        </div>
        <div class="div-relative"></div>
        <img class="_1-1" src="~/images/_1-10.png" />
      </div>
      <div class="div-flex">
        <div class="div-overflow-hidden5">
          <div
            class="pomoc-ca-dob-ponad-5000-agent-w-w-ca-ym-kraju-dba-o-to-aby-o-ka-dej-porze-dnia-i-nocy-zadba-o-twoje-bezpiecze-stwo"
          >
            <span
              ><span
                class="pomoc-ca-dob-ponad-5000-agent-w-w-ca-ym-kraju-dba-o-to-aby-o-ka-dej-porze-dnia-i-nocy-zadba-o-twoje-bezpiecze-stwo-span"
                >Pomoc całą dobę<br /></span
              ><span
                class="pomoc-ca-dob-ponad-5000-agent-w-w-ca-ym-kraju-dba-o-to-aby-o-ka-dej-porze-dnia-i-nocy-zadba-o-twoje-bezpiecze-stwo-span2"
                >Ponad 5000 agentów w całym kraju dba o to, aby o każdej porze
                dnia i nocy zadbać o twoje bezpieczeństwo.</span
              ></span
            >
          </div>
          <div class="div-relative2">
            <div class="pawe">Paweł</div>
            <div class="krzysztof">Krzysztof</div>
            <div class="renata">Renata</div>
            <div class="zygmunt">Zygmunt</div>
            <div class="izabela">Izabela</div>
            <div class="przemys-aw">Przemysław</div>
            <div class="remigiusz">Remigiusz</div>
            <div class="anna">Anna</div>
            <div class="ilona">Ilona</div>
            <div class="mateusz">Mateusz</div>
            <div class="jonasz">Jonasz</div>
            <div class="witold">Witold</div>
            <div class="marek">Marek</div>
            <div class="marta">Marta</div>
          </div>
        </div>
        <div class="artur">Artur</div>
        <div class="div-overflow-hidden6">
          <div
            class="m-j-agent-dzi-ki-naszemu-portalowi-mo-esz-by-w-kontakcie-ze-swoim-agentem-ubezpieczeniowym-oraz-zg-osi-szkod-lub-wykupi-dodatkowe-produkty-w-atwy-spos-b"
          >
            <span
              ><span
                class="m-j-agent-dzi-ki-naszemu-portalowi-mo-esz-by-w-kontakcie-ze-swoim-agentem-ubezpieczeniowym-oraz-zg-osi-szkod-lub-wykupi-dodatkowe-produkty-w-atwy-spos-b-span"
                >Mój agent<br /></span
              ><span
                class="m-j-agent-dzi-ki-naszemu-portalowi-mo-esz-by-w-kontakcie-ze-swoim-agentem-ubezpieczeniowym-oraz-zg-osi-szkod-lub-wykupi-dodatkowe-produkty-w-atwy-spos-b-span2"
                >Dzięki naszemu portalowi możesz być w kontakcie ze swoim
                agentem ubezpieczeniowym oraz zgłosić szkodę lub wykupić
                dodatkowe produkty w łatwy sposób.</span
              ></span
            >
          </div>
          <div class="rectangle-792"></div>
          <div class="rectangle-7922"></div>
          <div class="rectangle-793"></div>
          <div class="rectangle-794"></div>
          <div class="rectangle-796"></div>
          <div class="rectangle-797"></div>
          <div class="rectangle-807"></div>
          <div class="rectangle-808"></div>
          <div class="rectangle-809"></div>
          <div class="div-overflow-hidden7">
            <svg
              class="lightning"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8424)">
                <path
                  d="M20.0484 11.7617L9.54844 23.0117C9.43717 23.1305 9.2903 23.2098 9.12998 23.2377C8.96966 23.2657 8.80461 23.2407 8.65972 23.1667C8.51483 23.0926 8.39796 22.9734 8.32676 22.827C8.25556 22.6807 8.23388 22.5152 8.265 22.3555L9.63938 15.4808L4.23657 13.452C4.12053 13.4086 4.01706 13.3372 3.93539 13.244C3.85372 13.1508 3.79639 13.0389 3.76854 12.9182C3.74068 12.7975 3.74316 12.6718 3.77575 12.5522C3.80834 12.4327 3.87004 12.3231 3.95532 12.2333L14.4553 0.983274C14.5666 0.864526 14.7135 0.785191 14.8738 0.75724C15.0341 0.729289 15.1992 0.75424 15.344 0.828326C15.4889 0.902412 15.6058 1.02161 15.677 1.16794C15.7482 1.31428 15.7699 1.47979 15.7388 1.63952L14.3606 8.52171L19.7634 10.5476C19.8786 10.5913 19.9813 10.6627 20.0623 10.7555C20.1433 10.8483 20.2003 10.9596 20.2281 11.0796C20.2559 11.1996 20.2537 11.3246 20.2217 11.4436C20.1897 11.5626 20.1289 11.6718 20.0447 11.7617H20.0484Z"
                  fill="black"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8424">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="rectangle-804"></div>
          <div class="rectangle-805"></div>
          <div class="rectangle-806"></div>
          <div class="steve-jobs-signature-2">
            <svg
              class="layer-2"
              width="78"
              height="18"
              viewBox="0 0 78 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.73196 12.1659C3.15229 10.7091 5.53071 9.20033 7.84222 7.62763C9.05475 6.80234 10.3991 5.94736 11.3494 4.9002C12.9985 3.08323 12.2307 5.87396 11.9272 6.64883C11.6623 7.32508 11.298 7.96996 10.8708 8.5857C9.85364 10.0531 8.26127 8.77115 7.36708 7.95763C6.92573 7.55591 6.21132 8.15261 6.64997 8.55208C8.83712 10.5427 10.8202 10.6823 12.3091 8.12011C12.5869 7.6422 14.8849 2.8664 12.3537 3.15942C11.321 3.27932 10.7823 4.19482 10.1456 4.7747C9.11829 5.71092 7.88954 6.51212 6.71283 7.31219C4.60543 8.7465 2.42437 10.1119 0.218291 11.4397C-0.302813 11.7552 0.20207 12.4847 0.73196 12.1659Z"
                fill="#E4E5E9"
              />
              <path
                d="M23.1996 0.0481982C20.9631 0.969293 19.0774 2.41817 17.6168 4.07827C16.7598 5.05091 14.6544 8.41537 16.605 9.36279C18.732 10.3959 25.4963 5.94175 24.425 4.0749C23.2131 1.96266 17.8061 7.98844 18.8848 9.98974C21.1321 14.1627 26.7419 5.88516 27.4982 4.54498C27.7719 4.05922 26.9764 3.65582 26.6229 4.12029C26.0315 4.89795 22.9299 8.84678 24.894 9.60876C27.4435 10.5982 29.1325 7.22478 29.8023 5.75125C30.0078 5.29855 29.1501 5.01841 28.8757 5.42741C27.3847 7.64611 30.2457 8.94035 32.3612 7.40855C33.2587 6.75863 34.4902 5.86947 34.3084 4.78141C34.205 4.16455 33.1675 4.53713 32.864 4.73435C32.1942 5.16913 27.7206 8.89664 30.0172 9.51575C32.6937 10.2374 35.8541 6.35411 37.1849 4.91812C36.8929 4.77637 36.6016 4.63518 36.3097 4.49343C35.7777 5.34113 33.8765 7.69821 34.7328 8.65348C34.8809 8.8182 35.0579 8.88264 35.3053 8.84678C36.4165 8.68206 37.2322 7.52733 37.9487 6.8987C38.8976 6.06725 39.5654 7.15755 40.5819 7.5419C43.5531 8.66581 45.9423 5.24252 47.0981 3.61044C47.4299 3.14204 46.5533 2.71904 46.2228 3.18575C45.1245 4.73715 43.1273 7.84332 40.4744 6.54909C39.9871 6.31153 39.4059 5.59269 38.7746 5.59269C37.7135 5.59269 36.918 6.5715 36.2961 7.14634C34.6828 8.64004 36.7645 5.58597 37.1843 4.917C37.4945 4.42228 36.6976 4.07322 36.309 4.49231C35.7318 5.11478 35.1093 5.70643 34.4774 6.2908C33.9995 6.73342 33.4865 7.14522 32.9674 7.55366C32.7937 7.68981 30.4214 8.9325 30.5066 8.54871C30.733 7.52453 32.0678 6.5009 32.9019 5.80448C34.1421 4.76853 31.6434 6.90038 32.1922 6.41574C31.8489 6.63705 31.5062 6.85724 31.1635 7.07855C29.8063 6.79113 29.3352 6.38212 29.7496 5.85154C29.4407 5.74341 29.1318 5.63527 28.8229 5.5277C28.6012 6.0157 28.3309 6.48017 28.0491 6.94576C27.63 7.63938 25.0711 9.11179 25.6497 7.5503C26.0397 6.49698 26.7899 5.47336 27.4962 4.54442C27.2042 4.40267 26.9129 4.26148 26.6209 4.11973C25.5922 5.94231 24.3351 7.73687 22.6873 9.22048C22.3135 9.55665 19.3173 11.5109 19.8114 8.78123C19.9473 8.03214 20.4528 7.33515 20.9057 6.69196C21.2781 6.16306 21.7505 5.6885 22.2399 5.23244C22.5062 4.98535 23.7559 4.14326 23.1766 4.98816C22.4615 6.03195 21.1476 6.91775 20.0162 7.63434C18.4962 8.59578 16.5131 9.35943 17.1424 6.89982C17.8223 4.23907 20.8617 1.94585 23.7099 0.772636C24.2972 0.532277 23.7829 -0.19216 23.1996 0.0481982Z"
                fill="#E4E5E9"
              />
              <path
                d="M11.9665 3.44564C15.2404 3.70337 18.7699 3.97903 22.0141 3.43108C22.6542 3.32294 22.3831 2.51222 21.7451 2.62036C18.6036 3.1515 15.1384 2.85567 11.9671 2.60579C11.3156 2.55425 11.321 3.39522 11.9665 3.44564Z"
                fill="#E4E5E9"
              />
              <path
                d="M49.9064 7.35301C53.3784 8.25001 58.7388 4.04962 60.9881 2.57609C60.7225 2.40633 60.4576 2.23712 60.1919 2.0668C58.188 4.32135 56.1549 6.5591 54.105 8.78396C51.4819 11.6302 48.8926 14.9123 45.6274 17.2957C45.1354 17.6548 45.8558 18.2465 46.3445 17.8901C49.5056 15.5823 51.9841 12.4403 54.5375 9.68712C56.7443 7.30819 58.9199 4.9074 61.0672 2.49093C61.4376 2.07352 60.682 1.71215 60.271 1.98164C58.4333 3.18567 53.0817 7.29306 50.1754 6.54229C49.5502 6.38093 49.2839 7.19221 49.9064 7.35301Z"
                fill="#E4E5E9"
              />
              <path
                d="M53.4507 8.99116C56.3164 7.74399 62.2844 7.31481 63.8342 4.48206C64.0573 4.07417 63.5895 3.58785 63.0461 3.72288C61.3997 4.13076 59.9655 5.50008 58.8908 6.53155C57.0653 8.28409 57.7195 10.7661 60.7752 9.15308C62.2905 8.35301 63.4003 6.78143 64.2877 5.52697C64.575 5.12133 63.2557 5.51465 64.2519 5.57628C65.0751 5.62782 65.8409 5.37065 66.5952 5.12693C66.8074 5.05858 75.8433 1.17362 72.105 0.321443C69.5312 -0.265167 65.4347 5.741 64.5216 7.14449C63.4023 8.8651 63.6659 11.3348 66.4451 9.49709C67.1136 9.05447 72.6646 4.0019 69.7455 3.49989C69.5109 3.46011 69.3055 3.52678 69.173 3.69319C68.0443 5.10845 68.7337 7.7227 71.1648 6.94727C72.0793 6.65537 72.9126 6.11862 73.7264 5.67713C74.5652 5.22162 77.3802 3.73913 76.3684 5.71354C76.1447 6.15112 74.991 8.01292 74.3239 7.71037C75.506 8.24543 76.4826 8.11769 77.6607 7.72662C78.2602 7.52772 77.9986 6.7142 77.3917 6.9159C75.6567 7.49186 72.3003 5.18688 71.6562 7.62465C71.3331 8.84661 73.3263 9.26962 74.3144 8.92953C75.8108 8.41464 79.6525 3.10602 76.2819 3.71392C75.1376 3.9201 74.1934 4.43107 73.2154 4.95045C72.0773 5.55499 69.7056 7.31818 69.7887 4.99807C69.8597 3.01189 68.7837 6.07156 68.2268 6.75846C67.8685 7.20164 64.4533 10.1717 64.8156 8.75304C65.4496 6.27494 68.3295 3.78171 70.4207 2.0667C70.5991 1.92047 72.2091 1.10359 71.5359 1.72494C70.91 2.30258 69.8354 2.72671 69.0419 3.12002C68.2558 3.50942 65.2117 5.30566 64.2654 4.71793C64.0478 4.58291 63.6936 4.68432 63.572 4.86865C62.7765 6.06988 61.8201 7.19211 60.6474 8.15915C58.78 8.83989 58.2386 8.72111 59.0199 7.80281C59.3788 7.26439 59.9438 6.79936 60.4487 6.3545C61.1746 5.71578 62.0087 5.14038 62.9042 4.67479C62.7616 4.30781 62.5669 4.31285 62.3196 4.68936C61.8485 5.01152 61.3544 5.3079 60.8387 5.57852C59.7843 6.1612 58.6766 6.6408 57.4093 6.7663C55.8919 6.91646 54.2752 7.68516 52.9404 8.26616C52.3598 8.51717 52.8728 9.24273 53.4507 8.99116Z"
                fill="#E4E5E9"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="div-flex2">
        <div class="div-overflow-hidden8">
          <div
            class="m-j-samoch-d-zadbaj-o-swoje-auto-i-opr-cz-obowi-zkowego-ubezpieczenia-komunikacyjnego-dodaj-dodatkowe-opcje"
          >
            <span
              ><span
                class="m-j-samoch-d-zadbaj-o-swoje-auto-i-opr-cz-obowi-zkowego-ubezpieczenia-komunikacyjnego-dodaj-dodatkowe-opcje-span"
                >Mój samochód.<br /></span
              ><span
                class="m-j-samoch-d-zadbaj-o-swoje-auto-i-opr-cz-obowi-zkowego-ubezpieczenia-komunikacyjnego-dodaj-dodatkowe-opcje-span2"
                >Zadbaj o swoje auto i oprócz obowiązkowego ubezpieczenia
                komunikacyjnego dodaj dodatkowe opcje.</span
              ></span
            >
          </div>
          <img class="image-18" src="~/images/image-180.png" />
        </div>
        <div class="div-overflow-hidden9">
          <div
            class="moja-firma-ubezpieczenie-grupowe-pracownik-w-budynk-w-firmowych-lub-floty-pojazd-w-to-wszystko-oferujemy-w-jednym-pakiecie"
          >
            <span
              ><span
                class="moja-firma-ubezpieczenie-grupowe-pracownik-w-budynk-w-firmowych-lub-floty-pojazd-w-to-wszystko-oferujemy-w-jednym-pakiecie-span"
                >Moja firma.<br /></span
              ><span
                class="moja-firma-ubezpieczenie-grupowe-pracownik-w-budynk-w-firmowych-lub-floty-pojazd-w-to-wszystko-oferujemy-w-jednym-pakiecie-span2"
                >Ubezpieczenie grupowe pracowników, budynków firmowych lub floty
                pojazdów? To wszystko oferujemy w jednym pakiecie.</span
              ></span
            >
          </div>
          <img class="image-17" src="~/images/image-170.png" />
        </div>
      </div>
      <div class="div-flex3">
        <div class="div-overflow-hidden8">
          <div
            class="moja-rodzina-stw-rz-sw-j-w-asny-pakiet-ubezpieczeniowy-dla-siebie-i-swoich-najbli-szych"
          >
            <span
              ><span
                class="moja-rodzina-stw-rz-sw-j-w-asny-pakiet-ubezpieczeniowy-dla-siebie-i-swoich-najbli-szych-span"
                >Moja rodzina.<br /></span
              ><span
                class="moja-rodzina-stw-rz-sw-j-w-asny-pakiet-ubezpieczeniowy-dla-siebie-i-swoich-najbli-szych-span2"
                >Stwórz swój własny pakiet ubezpieczeniowy dla siebie i swoich
                najbliższych.</span
              ></span
            >
          </div>
          <img class="image-15" src="~/images/image-150.png" />
        </div>
        <div class="div-overflow-hidden9">
          <div
            class="m-j-dom-ubezpiecz-dom-mieszkanie-lub-inny-budynek-i-zadbaj-o-stabiln-przysz-o"
          >
            <span
              ><span
                class="m-j-dom-ubezpiecz-dom-mieszkanie-lub-inny-budynek-i-zadbaj-o-stabiln-przysz-o-span"
                >Mój dom.<br /></span
              ><span
                class="m-j-dom-ubezpiecz-dom-mieszkanie-lub-inny-budynek-i-zadbaj-o-stabiln-przysz-o-span2"
                >Ubezpiecz dom, mieszkanie lub inny budynek i zadbaj o stabilną
                przyszłość.</span
              ></span
            >
          </div>
          <img class="image-16" src="~/images/image-160.png" />
        </div>
      </div>
      <div class="specjalne-funkcje">Specjalne funkcje</div>
      <div class="wybierz-najlepsze-rozwi-zanie-dla-siebie-i-bliskich">
        Wybierz najlepsze rozwiązanie<br />dla siebie i bliskich
      </div>
      <div class="span-line-gradient"></div>
      <div class="frame-772">
        <div class="regulaminy-i-tabele">Regulaminy i tabele</div>
        <div class="polityka-prywatno-ci">Polityka prywatności</div>
        <div class="_2023-pamp">© 2023 PAMP</div>
        <div class="div-sc-a-50-d-6-bc-3-11">
          <svg
            class="icon-facebook"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.5 1.5H11.25C10.2554 1.5 9.30161 1.89509 8.59835 2.59835C7.89509 3.30161 7.5 4.25544 7.5 5.25V7.5H5.25V10.5H7.5V16.5H10.5V10.5H12.75L13.5 7.5H10.5V5.25C10.5 5.05109 10.579 4.86032 10.7197 4.71967C10.8603 4.57902 11.0511 4.5 11.25 4.5H13.5V1.5Z"
              stroke="#8D8D8D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <svg
            class="icon-instagram"
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.75 1.5H5.25C3.17893 1.5 1.5 3.17893 1.5 5.25V12.75C1.5 14.8211 3.17893 16.5 5.25 16.5H12.75C14.8211 16.5 16.5 14.8211 16.5 12.75V5.25C16.5 3.17893 14.8211 1.5 12.75 1.5Z"
              stroke="#8D8D8D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 8.52773C12.0926 9.15191 11.986 9.78939 11.6953 10.3495C11.4047 10.9096 10.9449 11.3638 10.3812 11.6475C9.8176 11.9312 9.17886 12.0299 8.55586 11.9297C7.93287 11.8294 7.35734 11.5353 6.91115 11.0891C6.46496 10.6429 6.17082 10.0674 6.07058 9.44439C5.97033 8.82139 6.06907 8.18265 6.35277 7.61901C6.63647 7.05537 7.09066 6.59553 7.65076 6.30491C8.21086 6.01428 8.84834 5.90767 9.47252 6.00023C10.1092 6.09464 10.6987 6.39132 11.1538 6.84646C11.6089 7.30159 11.9056 7.89103 12 8.52773Z"
              stroke="#8D8D8D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M13.125 4.875H13.1325"
              stroke="#8D8D8D"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div class="svg">
            <svg
              class="frame2"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.875 3.31914C17.2544 3.5898 16.5878 3.77269 15.8869 3.85536C16.6019 3.43399 17.1504 2.76536 17.409 1.96943C16.7401 2.36007 15.9992 2.64391 15.2107 2.79608C14.579 2.13476 13.6797 1.7207 12.6838 1.7207C10.7723 1.7207 9.22197 3.24671 9.22197 5.12971C9.22197 5.396 9.25319 5.65496 9.31115 5.90516C6.43276 5.7625 3.88286 4.40548 2.175 2.34398C1.87771 2.84875 1.70678 3.43399 1.70678 4.05726C1.70678 5.23944 2.31843 6.28337 3.24668 6.89421C2.67888 6.87593 2.14526 6.72303 1.67853 6.46772V6.51162C1.67853 8.16271 2.87137 9.54023 4.45586 9.85333C4.16452 9.93087 3.85908 9.97184 3.54396 9.97184C3.321 9.97184 3.10324 9.95135 2.89217 9.91185C3.33289 11.2652 4.61118 12.2513 6.12657 12.2776C4.94117 13.1921 3.44809 13.7371 1.82644 13.7371C1.547 13.7371 1.27127 13.721 1 13.6896C2.53247 14.6575 4.35181 15.2207 6.30641 15.2207C12.6756 15.2207 16.1575 10.0282 16.1575 5.52476C16.1575 5.37844 16.1537 5.23067 16.1471 5.08436C16.8233 4.603 17.4105 4.00386 17.8735 3.32133L17.875 3.31914Z"
                fill="#8D8D8D"
              />
            </svg>
          </div>
        </div>
        <img class="image-13" src="~/images/image-130.png" />
      </div>
      <div class="community-section">
        <div class="group-995">
          <div class="poznaj-nasz-ofert2">Poznaj naszą ofertę</div>
        </div>
      </div>
      <div class="a-relative3">
        <div class="poznaj-nasz-ofert">Poznaj naszą ofertę</div>
      </div>
      <div class="div-overflow-hidden10">
        <div
          class="pracownicze-plany-kapita-owe-stw-rz-plan-dla-swojej-firmy-bez-konieczno-ci-wychodzenia-z-biura"
        >
          <span
            ><span
              class="pracownicze-plany-kapita-owe-stw-rz-plan-dla-swojej-firmy-bez-konieczno-ci-wychodzenia-z-biura-span"
              >Pracownicze Plany Kapitałowe<br /></span
            ><span
              class="pracownicze-plany-kapita-owe-stw-rz-plan-dla-swojej-firmy-bez-konieczno-ci-wychodzenia-z-biura-span2"
              >Stwórz plan dla swojej firmy bez konieczności wychodzenia z
              biura.</span
            ></span
          >
        </div>
        <div class="group-1022">
          <svg
            class="linie"
            width="296"
            height="371"
            viewBox="0 0 296 371"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              y1="-0.75"
              x2="112.768"
              y2="-0.75"
              transform="matrix(-0.686472 0.727156 -0.721948 -0.691947 147.53 1)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="82.1664"
              y2="-0.75"
              transform="matrix(-0.45899 0.888441 -0.885579 -0.464488 59.201 87)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="220.329"
              y2="-0.75"
              transform="matrix(0.99999 0.00453868 -0.00447051 0.99999 75.0804 85)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              x1="67.3572"
              y1="76.3405"
              x2="163.357"
              y2="128.341"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="88.8934"
              y2="-0.75"
              transform="matrix(0.993652 0.112494 -0.110826 0.99384 63.1708 227)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="129.326"
              y2="-0.75"
              transform="matrix(-0.353009 -0.93562 0.933834 -0.357707 208.07 370)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="101.995"
              y2="-0.75"
              transform="matrix(0.866012 0.500023 -0.494359 0.869258 178.296 257)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="95.0947"
              y2="-0.75"
              transform="matrix(-0.208731 0.977973 -0.977319 -0.211772 140.583 253)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="105.165"
              y2="-0.75"
              transform="matrix(0.924841 -0.380353 0.375451 0.926842 149.515 243)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="133.799"
              y2="-0.75"
              transform="matrix(-0.897526 0.440961 -0.435602 -0.900139 142.568 249)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
            <line
              y1="-0.75"
              x2="96.8885"
              y2="-0.75"
              transform="matrix(0.532654 0.846333 -0.842668 0.538433 0.645721 1)"
              stroke="#C6C6C6"
              stroke-opacity="0.24"
              stroke-width="1.5"
            />
          </svg>

          <div class="div-overflow-hidden11">
            <svg
              class="user"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8509)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8509">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden12">
            <svg
              class="user2"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8514)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8514">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden13">
            <svg
              class="icon-factory"
              width="32"
              height="30"
              viewBox="0 0 32 30"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.66666 25C2.66666 25.663 2.94761 26.2989 3.4477 26.7678C3.9478 27.2366 4.62608 27.5 5.33332 27.5H26.6667C27.3739 27.5 28.0522 27.2366 28.5523 26.7678C29.0524 26.2989 29.3333 25.663 29.3333 25V10L20 16.25V10L10.6667 16.25V5C10.6667 4.33696 10.3857 3.70107 9.88561 3.23223C9.38551 2.76339 8.70723 2.5 7.99999 2.5H5.33332C4.62608 2.5 3.9478 2.76339 3.4477 3.23223C2.94761 3.70107 2.66666 4.33696 2.66666 5V25Z"
                stroke="#039BE5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M22.6667 22.5H24"
                stroke="#039BE5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16 22.5H17.3333"
                stroke="#039BE5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.33334 22.5H10.6667"
                stroke="#039BE5"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="div-overflow-hidden14">
            <svg
              class="user3"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8521)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8521">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden15">
            <svg
              class="user4"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8526)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8526">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden16">
            <svg
              class="user5"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8531)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8531">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden17">
            <svg
              class="user6"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8536)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8536">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="div-overflow-hidden18">
            <svg
              class="user7"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1378_8541)">
                <path
                  d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                  stroke="#A3A3A3"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </g>
              <defs>
                <clipPath id="clip0_1378_8541">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="div-overflow-hidden19">
          <svg
            class="user8"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1378_8546)">
              <path
                d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_1378_8546">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="div-overflow-hidden20">
          <svg
            class="user9"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1378_8551)">
              <path
                d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_1378_8551">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="div-overflow-hidden21">
          <svg
            class="user10"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1378_8556)">
              <path
                d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_1378_8556">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="div-overflow-hidden22">
          <svg
            class="icon-factory2"
            width="32"
            height="30"
            viewBox="0 0 32 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.66667 25C2.66667 25.663 2.94762 26.2989 3.44772 26.7678C3.94782 27.2366 4.62609 27.5 5.33334 27.5H26.6667C27.3739 27.5 28.0522 27.2366 28.5523 26.7678C29.0524 26.2989 29.3333 25.663 29.3333 25V10L20 16.25V10L10.6667 16.25V5C10.6667 4.33696 10.3857 3.70107 9.88562 3.23223C9.38553 2.76339 8.70725 2.5 8 2.5H5.33334C4.62609 2.5 3.94782 2.76339 3.44772 3.23223C2.94762 3.70107 2.66667 4.33696 2.66667 5V25Z"
              stroke="#039BE5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.6667 22.5H24"
              stroke="#039BE5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 22.5H17.3333"
              stroke="#039BE5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.33333 22.5H10.6667"
              stroke="#039BE5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="div-overflow-hidden23">
          <svg
            class="user11"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1378_8563)">
              <path
                d="M16 20C20.4183 20 24 16.4183 24 12C24 7.58172 20.4183 4 16 4C11.5817 4 8 7.58172 8 12C8 16.4183 11.5817 20 16 20Z"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M4 27C6.42125 22.8162 10.8187 20 16 20C21.1813 20 25.5787 22.8162 28 27"
                stroke="#A3A3A3"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_1378_8563">
                <rect width="32" height="32" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="a-relative4">
        <div class="znajd-najbli-szy-oddzia2">Znajdź najbliższy oddział</div>
      </div>
      <img class="image-14" src="~/images/image-140.png" />
    </div>
  </body>
</html>
