@page "/home"
@using Projekt_Sklep.Models.Pojazdy
@using Projekt_Sklep.Persistence.Pojazdy
@using Projekt_Sklep.Controllers.Pojazdy
@using Projekt_Sklep.Models.Klient
@inject PojazdyService pojazdyService
@inject NavigationManager Navigation

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (pojazdyList.Count > 0)
{
    <table>
    @foreach (var pojazd in pojazdyList)
    {
        <tr>
            <td>@pojazd.NrRejestracyjny</td>
            <td>@pojazd.Marka</td>
            <td>@pojazd.Rocznik</td>
        </tr>
    }
    </table>
}
else
{
    <p>Brak samochodów w liście</p>
}

@code {
    private List<Pojazdy> pojazdyList;

    protected override async Task OnInitializedAsync()
    {
        if (KlientSingleton.Instance.Id == Guid.Empty)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            pojazdyList = pojazdyService.getAll();
            pojazdyList.Clear();
        }
    }
}
