@page "/Profil"
@{
    string docsearchCss = "https://cdn.jsdelivr.net/npm/@docsearch/css@3";
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <script src="../assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.118.2">
    <title>User Information</title>
    
    <!-- Dodaj link do stylów Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- Dodaj link do Twoich własnych styli -->
    <link rel="stylesheet" href="@docsearchCss">
    
    <style>

        form {
            max-width: 500px;
            margin: auto;
        }

        label {
            margin-top: 10px;
        }

        button {
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <h1 class="display-4" text-align: center>Informacje o Użytkowniku</h1>
    
    <form method="get">
        <div class="mb-3">
            <label for="userName" class="form-label">User Name:</label>
            <input type="text" class="form-control" id="userName" name="UserName" value="@@Model.UserName" readonly />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="Email" value="@@Model.Email" readonly />
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="tel" class="form-control" id="phoneNumber" name="PhoneNumber" value="@@Model.PhoneNumber" readonly />
        </div>

        <button type="submit" class="btn btn-primary">Get User Data</button>
    </form>

    <!-- Dodaj skrypty Bootstrapa, jeśli są potrzebne -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eOJMYsd53UQ49M4a/9kPxB5lRXPJwGrMNGfx8rDIz3zOfkAdU2CEbrfeFgptJkoE" crossorigin="anonymous"></script>
</body>
</html>
